<script lang="ts">
    import type { AlbumMetadata } from "$lib/MiniPlayer/types";
    import Icon from "mdi-svelte";
    import { mdiDownload } from "@mdi/js";
    import { album as albumStore } from "$lib/MiniPlayer/stores";
    import PlayList from "$lib/MiniPlayer/PlayList.svelte";
    import IconEx from "$lib/Components/IconEx.svelte";
    import { gdrive, vk, yandex } from "$lib/Components/icons";

    export let album: AlbumMetadata;

    $: albumStore.set(album);
</script>

<div class="md:flex">
    <img
        src={album.cover}
        alt={album.title}
        class="flex-none md:mr-5 w-full md:w-64 max-w-full md:max-w-min my-6 md:rounded-sm"
        width="256px"
    />

    <div class="albumdescription">
        <h2>{album.title}</h2>
        <div class="px-4 prose prose-sm prose-invert max-w-none">
            <p>{album.description}</p>
            <p>{album.credits}</p>
        </div>

        <div class="linkgroup">
            {#if album.mp3}
                <a href={album.mp3}>
                    <Icon path={mdiDownload} />
                    <span class="ml-2">Скачать mp3 в&nbsp;zip</span>
                </a>
            {/if}
            {#if album.srcBasic}
                <a href={album.srcBasic}>
                    <Icon path={mdiDownload} />
                    <span class="ml-2">Скачать вокал и&nbsp;фонограммы</span>
                </a>
            {/if}
            {#if album.gdrive}
                <a
                    href={album.gdrive}
                    rel="external noopener noreferrer"
                    target="_blank"
                >
                    <IconEx path={gdrive} />
                    <span class="ml-2">FLAC</span>
                </a>
            {/if}
            {#if album.vk}
                <a
                    href={album.vk}
                    rel="external noopener noreferrer"
                    target="_blank"
                >
                    <IconEx path={vk} />
                    <span class="ml-2">Слушать в&nbsp;VK</span>
                </a>
            {/if}
            {#if album.yandex}
                <a
                    href={album.yandex}
                    rel="external noopener noreferrer"
                    target="_blank"
                >
                    <IconEx path={yandex} />
                    <span class="ml-2">Яндекс Музыка</span>
                </a>
            {/if}
        </div>
    </div>
</div>

<h2>Треки и участники записи</h2>

<PlayList />

<style lang="postcss">
    .linkgroup {
        @apply my-4 flex gap-4 flex-wrap justify-between items-center px-4;
    }

    .linkgroup a {
        @apply flex grow items-center p-2 px-3 text-xs
            font-medium rounded uppercase
            focus:outline-none
            focus:z-10 focus:ring-2
            focus:ring-gray-500 
            bg-gray-800 hover:bg-gray-700
            text-gray-200 hover:text-white;
    }
</style>
