<script lang="ts">
    import Icon from "mdi-svelte";
    import { mdiFilterOutline } from "@mdi/js";

    let visible = false;
    export let items: string[];
    export let active: string[] = [];

    const handleChecked = (checked: boolean, value: string) => {
        const index = active.indexOf(value);
        if (checked) {
            if (index === -1) {
                active.push(value);
                active = active;
            }
        } else {
            if (index !== -1) {
                active.splice(index, 1);
                active = active;
            }
        }
    };
</script>

{#if visible}
    <div
        class="fixed top-0 left-0 w-full h-full overflow-hidden cursor-auto z-10"
        on:click|preventDefault|stopPropagation={() => {
            visible = false;
        }}
        on:touchstart|preventDefault|stopPropagation={() => {
            visible = false;
        }}
    />
{/if}

<div class="-m-2 -ml-0 -mr-3 relative font-normal">
    <div
        class="p-2 relative rounded-t-sm
        {active.length || visible
            ? 'text-stone-200'
            : 'text-stone-700 hover:text-stone-200'}
        {visible ? 'bg-stone-700' : 'hover:bg-stone-800'}"
        on:click|preventDefault|stopPropagation={() => {
            visible = !visible;
        }}
        on:touchstart|preventDefault|stopPropagation={() => {
            visible = !visible;
        }}
    >
        {#if active.length}
            <div class="absolute right-1 bottom-1 text-[10px]">
                {active.length}
            </div>
        {/if}
        <Icon size={0.7} path={mdiFilterOutline} />
    </div>

    {#if visible}
        <div
            class="origin-top-right absolute right-0 rounded rounded-tr-none shadow-lg 
            bg-stone-700 text-stone-100 z-10"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="menu-button"
            tabindex="-1"
        >
            <div class="py-1" role="none">
                {#each items as item}
                    <label
                        class="block px-4 py-2 whitespace-nowrap hover:bg-stone-600"
                        role="menuitem"
                        tabindex="-1"
                        on:click|stopPropagation={() => {}}
                    >
                        <input
                            type="checkbox"
                            class="mr-2"
                            checked={active.includes(item)}
                            on:change={(e) => {
                                handleChecked(e.currentTarget.checked, item);
                            }}
                        />
                        {item}
                    </label>
                {/each}
            </div>
        </div>
    {/if}
</div>
