<script lang="ts">
    import type { PageData } from "./$types";

    import Head from "../../_components/Head.svelte";
    import Prose from "../../_components/Prose.svelte";

    export let data: PageData;
</script>

<Head metadata={data.metadata} />

<span
    role="heading"
    aria-level={2}
    class="block mt-2 mb-4 uppercase text-2xl bg-none text-left text-white"
>
    {data.metadata.title}
</span>

<Prose>
    <i>Дата публикации: {data.metadata.date}</i>

    {@html data.content}
</Prose>
