<script lang="ts">
    import Icon from "mdi-svelte";

    export let icon: string;
    export let size: number | string;
    export let disabled = false;
</script>

<button
    type="button"
    {disabled}
    class="flex items-center justify-center
           outline-none focus:outline-none
		   transition-all motion-reduce:transition-none duration-300
		   drop-shadow-basic hoverable:hover:drop-shadow-bigger
           text-2xl"
    class:opacity-30={disabled}
    class:cursor-default={disabled}
    on:click
>
    <Icon {size} path={icon} />
</button>
