<script lang="ts">
    import type { PageData } from "./$types";

    import Head from "./_components/Head.svelte";
    import Prose from "./_components/Prose.svelte";

    export let data: PageData;
</script>

<Head metadata={data.metadata} />

<Prose class="p-4">
    {@html data.content}
</Prose>
