<script lang="ts">
    import Icon from "mdi-svelte";
    import { mdiPause, mdiPlay, mdiLoading } from "@mdi/js";
    import {
        activeIndex,
        album,
        playlist,
        PlayStatus,
        playStatus,
    } from "$lib/MiniPlayer/stores";
    import type { Track } from "./types";

    export let idx: number;
    export let track: Track;

    let el: HTMLDivElement;

    let activeIcon = mdiPlay;
    let activeIconHover = mdiPause;

    $: isActive =
        $playlist && $album.title === $playlist.title && idx === $activeIndex;

    $: {
        if ($playStatus === PlayStatus.Waiting) {
            activeIcon = mdiLoading;
            activeIconHover = mdiPause;
        } else if ($playStatus === PlayStatus.Playing) {
            activeIcon = mdiPause;
            activeIconHover = mdiPause;
        } else {
            activeIcon = mdiPlay;
            activeIconHover = mdiPlay;
        }
    }

    const keydown = (e: KeyboardEvent) => {
        const keyD = e.key !== undefined ? e.key : e.keyCode;
        if ([13, 32, "Enter", "Spacebar", " "].includes(keyD)) {
            e.preventDefault();
            el.click();
            e.stopPropagation();
        }
    };
</script>

<div
    role="button"
    on:keydown={keydown}
    tabindex="0"
    class="py-2 md:rounded group {isActive
        ? 'bg-gray-800'
        : 'hover:bg-gray-900'}"
    on:click
    bind:this={el}
>
    <div class="flex items-center">
        <div
            class="w-8 shrink-0 h-8 mx-4 text-gray-200 group-hover:text-white text-center"
        >
            {#if isActive}
                <div class="hidden group-hover:block">
                    <Icon size="32px" path={activeIconHover} />
                </div>
                <div class="block group-hover:hidden">
                    <Icon
                        size="32px"
                        path={activeIcon}
                        spin={$playStatus === PlayStatus.Waiting}
                    />
                </div>
            {:else}
                <div class="hidden group-hover:block">
                    <Icon size="32px" path={mdiPlay} />
                </div>
                <div class="block group-hover:hidden">
                    {idx + 1}
                </div>
            {/if}
        </div>
        <div class="pr-4">
            <div class="flex gap-4 items-center mb-1">
                <span
                    class="block font-medium text-sm leading-normal text-gray-200 group-hover:text-white"
                >
                    {track.title}
                </span>
                {#if track.links}
                    {#each track.links as link}
                        <a
                            on:click={(e) => e.stopPropagation()}
                            class="flex link-generic text-xs leading-normal rounded-sm
                                 hover:bg-gray-800 hover:outline hover:outline-4 hover:outline-gray-800"
                            href={link.url}
                            rel="external noopener noreferrer"
                            target="_blank"
                        >
                            {link.text}
                        </a>
                    {/each}
                {/if}
            </div>
            <div
                class="text-gray-300 group-hover:text-gray-300 font-light text-xs leading-normal"
            >
                {track.description}
            </div>
        </div>
    </div>
</div>
