.about-track h1 {
    @apply text-xl md:text-4xl font-black mb-4 text-center;
}
.about-track h2 {
    @apply text-xl md:text-2xl font-medium mb-3 text-center;
}
.about-track blockquote {
    @apply mb-2 md:px-12 xl:px-24 italic text-center;
}
.about-track p {
    @apply mb-2;
}
.about-track a {
    @apply underline;
}

.about-track .gallery {
    @apply flex flex-col md:flex-row gap-4 text-white text-center mb-2 justify-center;
}

.about-track .gallery figure {
    @apply flex-grow table place-self-center md:place-self-start md:max-w-[12em] lg:max-w-[15em] xl:max-w-[17em];
}

.about-track .gallery figure img {
    @apply border-white border-4 rounded-sm h-64 md:h-48 lg:h-64 xl:h-80 max-h-full min-w-full object-cover;
}

.about-track .gallery figure figcaption {
    @apply table-caption;
    caption-side: bottom;
}

.about-track .gallery .name {
    @apply font-bold whitespace-nowrap;
}

.about-track ul {
    @apply pb-4;
}
