<script lang="ts">
    import { page } from "$app/stores";

    import { album } from "./stores";
    import type { TrackMetadata, TrackPageMetadata } from "./types";
    import { getTitle, getCanonicalUrl } from "./utils";

    export let trackPageMetadata: TrackPageMetadata = null;

    let activeTrack: TrackMetadata = null;
    for (let i = 0; i < $album.tracks.length; i++) {
        if ($album.tracks[i].page === $page.params.track) {
            activeTrack = $album.tracks[i];
            break;
        }
    }
</script>

<svelte:head>
    <title>{getTitle($album, trackPageMetadata)}</title>

    <meta name="description" content={$album.meta.description} />
    <meta name="author" content={$album.artist} />

    <meta property="og:type" content="website" />
    <meta property="og:title" content={getTitle($album, trackPageMetadata)} />
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="1000" />
    <meta property="og:image" content={$album.image} />
    <meta property="og:url" content={getCanonicalUrl($page.url)} />

    <link rel="manifest" href={$album.webmanifest} />
    <link rel="icon" type="image/png" sizes="192x192" href={$album.icon} />
    <link rel="apple-touch-icon" sizes="180x180" href={$album.appleIcon} />

    <meta name="theme-color" content={$album.themeColor} />

    <!-- Allow web app to be run in full-screen mode - iOS. -->
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- Allow web app to be run in full-screen mode - Android. -->
    <meta name="mobile-web-app-capable" content="yes" />

    <link
        href="{$album.spashscreensPath}/iphone5_splash.png"
        media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image"
    />
    <link
        href="{$album.spashscreensPath}/iphone6_splash.png"
        media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image"
    />
    <link
        href="{$album.spashscreensPath}/iphoneplus_splash.png"
        media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)"
        rel="apple-touch-startup-image"
    />
    <link
        href="{$album.spashscreensPath}/iphonex_splash.png"
        media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"
        rel="apple-touch-startup-image"
    />
    <link
        href="{$album.spashscreensPath}/iphonexr_splash.png"
        media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image"
    />
    <link
        href="{$album.spashscreensPath}/iphonexsmax_splash.png"
        media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)"
        rel="apple-touch-startup-image"
    />
    <link
        href="{$album.spashscreensPath}/ipad_splash.png"
        media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image"
    />
    <link
        href="{$album.spashscreensPath}/ipadpro1_splash.png"
        media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image"
    />
    <link
        href="{$album.spashscreensPath}/ipadpro3_splash.png"
        media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image"
    />
    <link
        href="{$album.spashscreensPath}/ipadpro2_splash.png"
        media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image"
    />

    {#if activeTrack?.subtitles}
        <link
            rel="alternate"
            href={activeTrack?.subtitles}
            type="application/x-ass"
        />
    {/if}

    <link
        rel="license"
        href="https://creativecommons.org/licenses/by-sa/4.0/"
    />
    <link rel="canonical" href={getCanonicalUrl($page.url)} />

    {#each $album.languages as { code }}
        <link
            rel="alternate"
            hreflang={code}
            href={$album.baseUrl +
                code +
                "/" +
                (activeTrack ? activeTrack.page + "/" : "")}
        />
    {/each}
</svelte:head>
