<svelte:options accessors={true} />

<script lang="ts">
	import type { AlbumMetadata } from "./types";

	import PlayListItem from "./PlayListItem.svelte";
	import Drawer from "./Components/Drawer.svelte";
	import { browser } from "$app/environment";
	import scrollToFit from "$lib/scroll-to-fit";
	import { player } from "./player";

	export let showPlaylist: Boolean;
	export let album: AlbumMetadata;
	export let activeIndex: number;
	export let width: number;

	let scrollElement: HTMLElement;

	export let updateScroll = () => {
		if (activeIndex === null) {
			return;
		}

		let activeElement = scrollElement.querySelector(
			`a[data-track-id="${activeIndex}"]`
		) as HTMLElement;
		scrollToFit({
			elements: [activeElement],
			container: scrollElement,
			extraOffset: 10,
		});
	};

	$: browser && activeIndex && scrollElement && updateScroll();

	const isMobile = () => !window.matchMedia("(min-width: 768px)").matches;

	const getLangLink = (
		baseUrl: string,
		lang: string,
		activeIndex?: number
	) => {
		let link = baseUrl + lang + "/";
		if (activeIndex !== null) {
			link += album.tracks[activeIndex].page + "/";
		}
		return link;
	};

	const playlistItemClicked = (_e: MouseEvent) => {
		player.bypassAutoplayRestriction();
		if (isMobile()) {
			showPlaylist = false;
		}
	};
</script>

<Drawer bind:show={showPlaylist} bind:width>
	{#if album}
		<div
			class="overflow-x-hidden flex-none font-medium text-sm md:text-base xl:text-lg"
		>
			<a
				data-sveltekit-preload-data
				href={album.langUrl}
				on:click={playlistItemClicked}
				class="flex flex-col justify-center
				h-12 md:h-16
				mx-2.5 p-2
				hoverable:hover:bg-lcl-900/50 hoverable:hover:rounded
				text-center mt-2.5"
				class:bg-lcl-900={activeIndex === null}
				class:rounded={activeIndex === null}
				data-track-id="null"
			>
				{@html album.playlistTitle}
			</a>

			<div class="flex flex-row justify-center gap-4 my-1">
				{#each album.languages as { code, name }}
					<a
						data-sveltekit-preload-data
						href={getLangLink(album.baseUrl, code, activeIndex)}
						on:click={playlistItemClicked}
						class="block p-1 rounded hoverable:hover:bg-lcl-900/50
						text-white text-opacity-50"
						class:text-opacity-100={album.language === code}
						lang={code}
					>
						{name}
					</a>
				{/each}
			</div>
		</div>
		<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
		<div
			class="flex-grow relative
			scroll-smooth
			overflow-x-hidden overflow-y-auto overflow-scrolling-touch
			outline-none focus:outline-none"
			tabindex="0"
			on:mouseover={(e) => e.currentTarget.focus()}
			on:focus={() => {}}
			bind:this={scrollElement}
		>
			<div class="focus:outline-none">
				{#each album.tracks as { title, subtitle, url }, idx}
					<PlayListItem
						{title}
						{subtitle}
						{url}
						{idx}
						on:click={playlistItemClicked}
						isActive={idx === activeIndex}
					/>
				{/each}
			</div>
		</div>
	{:else}
		Loading...
	{/if}
</Drawer>
