<script lang="ts">
    import TrackLink from "./TrackLink.svelte";

    import type { TrackMetadata } from "./types";

    export let trackMetadata: TrackMetadata;
    export let activeMirror: string;

    export let alsoAvailableAt: string;

    export let youtube: string = "YouTube";
    export let spotify: string = "Spotify";
    export let yandexMusic: string = "Yandex Music";
    export let appleMusic: string = "Apple Music";
    export let bilibili: string = "bilibili";
    export let amazon: string = "Amazon";

    export let download: string;

    export let flac = "FLAC";
    export let opus = "Opus (190kbps)";
    export let aac = "AAC (190kbps)";
    export let ass = "ASS";
</script>

<div class="text-center">
    {download}

    <TrackLink id={trackMetadata.flac} name={flac} />

    <TrackLink
        id="{activeMirror}/{trackMetadata.audioBasename}.opus"
        name={opus}
    />

    <TrackLink
        id="{activeMirror}/{trackMetadata.audioBasename}.m4a"
        name={aac}
    />

    <TrackLink id={trackMetadata.subtitles} name={ass} />
</div>

<div class="text-center mb-6">
    {alsoAvailableAt}

    <TrackLink
        id={trackMetadata.youtube}
        prefix="https://www.youtube.com/watch?v="
        name={youtube}
    />
    <TrackLink
        id={trackMetadata.spotify}
        prefix="https://open.spotify.com/track/"
        name={spotify}
    />
    <TrackLink
        id={trackMetadata.yandexMusic}
        prefix="https://music.yandex.ru/album/"
        name={yandexMusic}
    />
    <TrackLink
        id={trackMetadata.appleMusic}
        prefix="https://geo.music.apple.com/album/id"
        name={appleMusic}
    />
    <TrackLink
        id={trackMetadata.bilibili}
        prefix="https://www.bilibili.com/audio/"
        name={bilibili}
    />
    <TrackLink
        id={trackMetadata.amazon}
        prefix="https://www.amazon.com/dp/"
        name={amazon}
    />
</div>
