<script lang="ts">
  import "./app.postcss";
  import PlayList from "$lib/AudioPlayer/PlayList.svelte";
  import {
    activeIndex,
    album,
    instrumentalModeImage,
    showPlaylist,
  } from "$lib/AudioPlayer/stores";
  import type { LayoutData } from "./$types";
  import { page } from "$app/stores";
  import { onDestroy } from "svelte";
  import { player } from "$lib/AudioPlayer/player";
  import { browser } from "$app/environment";

  export let data: LayoutData;

  let wrapperElement: HTMLElement;
  let playlistElement: PlayList = null;
  let playlistWidth: number;

  let squareStyle = "";

  $: album.set(data);

  onDestroy(() => {
    if (browser) {
      player.stop();
    }
  });

  let recalculateLayout = (isInstrumental: boolean) => {
    if (!isInstrumental) {
      squareStyle = "";
      return;
    }

    const isMd = window.matchMedia("(min-width: 768px)").matches;
    const isLg = isMd && window.matchMedia("(min-width: 1024px)").matches;
    const isXl = isLg && window.matchMedia("(min-width: 1280px)").matches;
    const isVnarrow = window.matchMedia("(max-height: 600px)").matches;

    const widthMultiplier = isXl ? 2 / 3 : isLg ? 4 / 5 : 1;
    const heightDelta = isVnarrow ? 0 : isLg ? -100 : 0;

    const mainWidth = wrapperElement.clientWidth * widthMultiplier;
    const mainHeight = wrapperElement.clientHeight + heightDelta;

    let width = isMd ? mainWidth - playlistWidth : mainWidth;
    let height = mainHeight;

    if (width > height) {
      if (isMd) {
        squareStyle = `max-width: ${height + playlistWidth}px`;
      } else {
        squareStyle = `max-width: ${height}px`;
      }

      setTimeout(playlistElement.updateScroll, 400);
    } else if (height > width) {
      squareStyle = `max-height: ${width}px`;
      setTimeout(playlistElement.updateScroll, 400);
    }
  };

  $: isInstrumental = !!$instrumentalModeImage;

  $: wrapperElement && $page && ($showPlaylist || true) && dispatchResize();

  let resizeTimeout: ReturnType<typeof setTimeout>;
  function dispatchResize() {
    if (resizeTimeout) {
      clearTimeout(resizeTimeout);
    }
    resizeTimeout = setTimeout(() => {
      console.log("Deferred resize fired");
      resizeTimeout = null;
      recalculateLayout(isInstrumental);
    }, 200);
  }
</script>

<svelte:window on:resize={dispatchResize} />

<div
  class="flex items-center justify-center w-full full-height
  antialiased
  bg-2032 bg-cover bg-fixed bg-center"
  bind:this={wrapperElement}
>
  <main
    class="flex flex-row overflow-hidden
           w-full lg:w-4/5 xl:w-2/3
           h-full-without-offset lg:h-full-with-offset vnarrow:h-full-without-offset
           lg:rounded-md vnarrow:rounded-none shadow-lcl-900
           bg-lcl-900/60 text-white
           max-w-full max-h-full
           transition-all motion-reduce:transition-none duration-500"
    style={squareStyle}
  >
    <PlayList
      bind:this={playlistElement}
      bind:showPlaylist={$showPlaylist}
      bind:width={playlistWidth}
      activeIndex={$activeIndex}
      album={data}
    />
    <div
      class="flex-1 flex flex-col"
      style={$instrumentalModeImage
        ? `
          background-image: url(${$instrumentalModeImage});
          background-position: center;
          background-size: cover;
          `
        : ""}
    >
      <slot />
    </div>
  </main>
</div>
