<script lang="ts">
  import { onMount, createEventDispatcher } from "svelte";

  const dispatch = createEventDispatcher();
  export let url: string;
  let el: HTMLScriptElement;

  onMount(() => {
    console.log(`Loading library ${url}`);
    el.src = url;

    el.addEventListener("load", () => {
      dispatch("loaded");
    });

    el.addEventListener("error", (event) => {
      console.error("something went wrong", event);
      dispatch("error");
    });
  });
</script>

<svelte:head>
  <script bind:this={el}></script>
</svelte:head>
